/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  background: #02050f;
  color: #b8bcc7;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.2em; }
  body a {
    color: #ffffff;
    text-decoration: unset; }
    body a:hover {
      color: #ffffff; }

section {
  padding: 3rem 0; }

.botao {
  display: inline-block;
  padding: 20px;
  border: 2px solid #f74c4f;
  text-transform: uppercase;
  font-size: 0.65em;
  font-weight: 600; }
  .botao.botao--roxo {
    border-color: #d91eb1; }
  .botao.botao--laranja {
    border-color: #f55523; }

.botao--destaque {
  border-color: #D1E751;
  position: relative;
  z-index: 2;
  margin: 40px 0;
  transition: all 0.3s; }
  .botao--destaque:before {
    content: "";
    position: absolute;
    width: 80%;
    border-top: 2px solid #f74c4f;
    left: -40%;
    z-index: -1;
    transform: rotate(-30deg);
    transition: all 0.3s; }
  .botao--destaque:after {
    content: "";
    position: absolute;
    width: 80%;
    border-top: 2px solid #f74c4f;
    left: 70%;
    z-index: -1;
    transform: rotate(-30deg);
    transition: all 0.3s; }
  .botao--destaque:hover {
    color: #ffffff;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.05);
    border-color: #f74c4f; }
    .botao--destaque:hover:before {
      content: "";
      position: absolute;
      width: 80%;
      border-top: 2px solid #f74c4f;
      left: -40%;
      z-index: -1;
      transform: rotate(-30deg) translateY(-30px);
      transition: all 0.3s; }
    .botao--destaque:hover:after {
      content: "";
      left: 70%;
      transform: rotate(-30deg) translateY(30px); }

.navbar-brand {
  color: #f74c4f;
  border: 3px solid #f74c4f;
  border-radius: 50%;
  padding: 0.5em;
  line-height: 1.5rem;
  width: 3rem;
  height: 3rem; }

.navbar {
  background-color: #01040a; }
  .navbar ul {
    position: relative; }
  .navbar .navbar-item-active-status {
    opacity: 0;
    bottom: 0;
    border: 4px solid #f74c4f;
    width: 90px;
    height: 400px;
    position: absolute;
    transform: rotate(-27deg) translate(-130px, -20px);
    z-index: -1;
    transform-origin: center;
    transition: all 0.2s linear; }

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }

.nav-item {
  text-transform: uppercase;
  font-size: 0.7em; }
  .nav-item a {
    padding: 1em;
    opacity: 0.6; }
  .nav-item:last-child a {
    padding-right: 0; }
  .nav-item a:hover {
    opacity: 1;
    color: #ffffff; }

.nav-item.active a {
  opacity: 1;
  font-weight: 700; }

.menu__right {
  float: right; }

.titulo {
  color: #f74c4f;
  font-weight: lighter;
  font-size: 2em;
  text-transform: uppercase;
  margin: 1em 0; }
  .titulo strong {
    font-weight: 500; }

.subtitulo {
  color: #ffffff;
  font-weight: 500;
  font-size: 1.3em; }

p {
  line-height: 1.5em;
  font-weight: 300; }

.sobre {
  min-height: 90vh;
  padding: 10vh 0; }
  .sobre p {
    padding: 2em 0; }

.trabalho__titulo {
  font-size: 2.3rem;
  text-transform: uppercase;
  font-weight: 300; }
  .trabalho__titulo.trabalho__titulo--roxo {
    color: #d91eb1; }
  .trabalho__titulo.trabalho__titulo--laranja {
    color: #f55523; }

.trabalho__imagem {
  position: relative;
  transform: translateY(-120px); }

.trabalho__sombra {
  z-index: -1;
  position: relative;
  display: block; }
  .trabalho__sombra:before {
    content: "";
    background: rgba(0, 0, 0, 0.7);
    filter: blur(20px);
    height: 200px;
    width: 200px;
    border-radius: 50%;
    left: 20%;
    margin: 0 auto;
    position: absolute; }

.trabalho {
  padding: 3rem 0 6rem; }

.trabalho__empresa {
  display: block;
  opacity: 0.4;
  font-weight: 500;
  font-size: 0.9rem;
  text-transform: uppercase; }
  .trabalho__empresa.trabalho__empresa--roxo {
    color: #d91eb1; }
  .trabalho__empresa.trabalho__empresa--laranja {
    color: #f55523; }

.trabalho__tecnologias {
  opacity: 0.4;
  font-size: 0.9rem;
  font-weight: lighter; }

.trabalho__descricao {
  margin: 2rem 0; }

.experiencia {
  margin: 1rem 0; }

.experiencia__titulo {
  /* janeiro 2018 - prese: */
  font-weight: 500;
  font-size: 1.2rem;
  color: #ffffff; }

.experiencia__periodo {
  /* Desenvolvedor Full S: */
  opacity: 0.5;
  font-size: 0.9rem;
  font-weight: 600;
  color: #f74c4f;
  text-transform: uppercase;
  display: block; }

.experiencia__empresa {
  /* Grupo Flatbox: */
  opacity: 0.7;
  font-size: 0.9rem;
  font-size: 600;
  color: #ffffff; }

.contato--redes-sociais ul.row {
  padding: 0; }

.rede-social__link {
  /* williamxsp: */
  font-size: 0.8rem;
  color: #ffffff;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 2rem;
  height: 32px;
  display: block; }
  .rede-social__link:hover {
    color: #ffffff;
    text-decoration: none; }
  .rede-social__link .rede-social__nome {
    padding-top: 2px; }
  .rede-social__link.rede-social__link--linkedin {
    background-position: 0 0; }
  .rede-social__link.rede-social__link--twitter {
    background-position: 0 -64px; }
  .rede-social__link.rede-social__link--behance {
    background-position: 0 -32px; }

.rede-social__nome {
  opacity: 0.8;
  display: block; }

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1; }
